.my-button {
    background-color: #4CAF50!important; /* Зеленый цвет фона */
    border: none; /* Без рамки */
    color: white; /* Белый цвет текста */
    padding: 15px 32px; /* Отступы внутри кнопки */
    text-align: center; /* Выравнивание текста */
    text-decoration: none; /* Без подчеркивания */
    display: inline-block; /* Инлайн-блок для кнопки */
    font-size: 16px; /* Размер шрифта */
    margin: 4px 2px; /* Внешние отступы */
    cursor: pointer; /* Курсор в виде руки */
    border-radius: 8px; /* Скругленные углы */
    transition: background-color 0.3s ease; /* Плавный переход цвета */
}

.my-button:hover {
    background-color: #45a049; /* Изменение цвета при наведении */
}

 